* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: auto;
}
h1 {
  font-family: "Fredoka One";
  margin-top: 10%;
  text-align: center;
}
.requirments {
  margin: 5% 5%;
  width: 1fr;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.requirments div {
  display: inline-block;
  margin-top: 2px;
}
.requirments label {
  margin-right: 5px;
}
.requirments button {
  margin-top: 5px;
  padding: 3px 5px;
  background-color: rgb(58, 196, 58);
  width: 30%;
}
#password {
  height: 50px;
  text-align: center;
  font-family: "Fredoka One";
  letter-spacing: 0.2em;
}
